body {
    background-color: #FBEED3;
    margin: 0;
}

.divHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 15%;
    background-color: #AC8E6C;
    padding: 0 20px; /* Add padding to the sides */
}

.container-inputSearch {
    position: relative;
}

.inputSearch {
    width: 400px;
    height: 40px;
    border-radius: 9999px;
    border: solid 1px #ffffff;
    outline: none;
    background-image: url("src/assets/magnifying-glass-1976105_1280.webp");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 15px; 
    padding-left: 40px; 
    margin-top: 10px;
}

.imagenLogo {
    width: 90px;
    height: auto;
    margin-right: 20px;
}

.ProfilePic {
    border-radius: 50%;
    background-color: #ffffff;
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #AC8E6C;
    padding: 0 20px; /* Add padding to the sides */
}

.logo-container,
.profilepic-container {
    margin: 0 10px; /* Ajusta el margen entre los contenedores si es necesario */
}
.searchbar-container{
    margin-right: 30px;
    
}
.pageLink{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 25px;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

/* Media queries */
@media screen and (max-width: 768px) {
    .divHeader {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .inputSearch {
        margin: 10px 0;
    }

    .pageLink {
        margin-right: 10px; /* Reduce the right margin */
        margin-left: 10px; /* Reduce the left margin */
        margin-top: 10px; /* Reduce the top margin */
    }

    .ProfilePic {
        margin-right: 0; /* Remove right margin */
    }
}
