html, body {
    background-color: #FBEED3;
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding-bottom: 60px;
    height: 90%;
    
}

.header {
    background-color: #292929;
    color: #ffffff;
    text-align: right;
    padding: 7px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: right;
    height: 80px;
    background-color: #292929;
    padding: 0 20px; 
}

.title-container {
    flex-grow: 1;
    display: flex;
    justify-content: left; 
    align-items: right; 
}
.title-container h1{
    font-size: 35px;
    margin: 20px 10px;
}
.pageLink {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 25px;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
.chats-Container {
    height: 100%;
    background-color: rgb(148, 148, 148);
    width: 20%;
    border-right: .5px solid black;
}
.Chat-Page{
    height: 100%;
}
#root, .Chat-Page, .chat-frame{
    height: 100%;
}
footer {
    position: fixed;
    font-family: Arial, sans-serif;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: rgb(255, 255, 255);
    text-align: center;
  }
.pefil-picture{
    width: 100px;
  }
.profile-container{
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
  }
.profile-container p{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
  }
  .chat-frame {
    display: flex;
    height: 90vh; /* Ajustado para ocupar el 90% de la altura de la ventana */
}

.chats-Container {
    width: 25%; /* Ajustado según tus necesidades */
    overflow-y: auto; /* Agrega scroll si hay muchos chats */
}

.chat-Window {
    width: 100%; /* Ajustado según tus necesidades */
    background-color: #fff9f0; /* Color de fondo para visualización */
    justify-content: flex-end; /* Asegura que los elementos hijos se alineen en la parte inferior */
    height: 95%; /* Asegura que ocupe toda la altura disponible */
}
.Window-chat {
    width: 100%; /* Ajustado según tus necesidades */
    background-color: #fff9f0; /* Color de fondo para visualización */
    justify-content: flex-end; /* Asegura que los elementos hijos se alineen en la parte inferior */
    height: 90%; /* Asegura que ocupe toda la altura disponible */
}
.chat-Window-Messages {
    width: 100%; /* Ajustado según tus necesidades */
    background-color: #fff9f0; /* Color de fondo para visualización */
    justify-content: flex-end; /* Asegura que los elementos hijos se alineen en la parte inferior */
    height: 100%; /* Asegura que ocupe toda la altura disponible */
    display: flex;
    flex-direction: column;
}


/* Estilo para el contenedor del perfil del usuario */
.user-profile-container {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos dentro del contenedor del perfil */
    background-color: rgb(99, 99, 99); /* Color de fondo para distinguirlo */
    padding: 10px;
    border-bottom: 1px solid #ccc; /* Línea inferior para separación */
}

/* Estilo para el contenedor de mensajes de texto */
.text-messages {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos dentro del text-messages */
    padding: 10px; /* Espacio interno para un mejor diseño */
    background-color: cadetblue; /* Color de fondo */
    border-top: 1px solid #ccc; /* Línea superior para separación */
}

/* Estilo para el botón */
.button {
    margin-left: 10px; /* Espacio entre el botón y el input */
}

/* Estilo para la barra de mensajes */
.messages-bar {
    flex: 1; /* Asegura que el input ocupe todo el espacio restante */
    width: 400px;
    height: 30px;
    border: solid 1px #ffffff;
    outline: none;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 15px; 
    padding-left: 40px; 
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 40px; /* Bordes redondeados */
}

/* Estilo adicional para contenedores específicos */
.title-container .profile-container {
    border-bottom: 0px;
    margin-left: 50px;
}
.user-profile-container p{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    margin-left: 30px;
}
