body {
  background-color: #452d17; /* Dark brown background */
  color: #fff; /* Change text color to white */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.container {
  padding: 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columns */
  grid-template-rows: auto auto; /* 2 rows */
  gap: 20px;
  margin-bottom: 20px;
}

.text-container {
  background-color: #634e33; /* Dark brown background for text */
  padding: 10px;
}

.image-container {
  background-color: #634e33; /* Dark brown background for image */
  padding: 10px;
}

.text {
  margin: 0; /* Remove default margin for paragraphs */
}

.image {
  max-width: 100%; /* Ensure image doesn't exceed container width */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Prevent whitespace below image */
  margin: 0 auto; /* Center image horizontally */
}

.button-container {
  display: flex;
  justify-content: center;
}

button {
  background-color: #8c6239; /* Dark brown button color */
  color: #fff; /* White text color */
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

button:hover {
  background-color: #634e33; /* Darker brown on hover */
}